{% extends "base.html" %}
{% load static %}
{% block start%}

<!-- Button trigger modal -->

<div class="container mt-10 ">
    <div class="d-flex justify-content-between mb-5">
      <form class="d-flex">
        <input name="search" class="form-control search-box me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit"><i class="bi bi-search"></i></button>
      
    </form> 
    <div>
      <button type="button" class="btn btn-add btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Recipes</button>
    </div>
  </div>
   
  <hr>
  <div class="d-flex flex-wrap">
    {% for recipe in recipes %}
    <a href="#" class="card-link text-decoration-none text-black" data-bs-toggle="modal" data-bs-target="#recipeModal{{ recipe.id }}">
      <div class="card m-2" style="width: 250px;">
        <img src="/media/{{ recipe.recipe_image }}" class="card-img-top" style="height: 250px;">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.recipe_name }}</h5>
          <p class="card-text" style="height: 80px; overflow: hidden; text-overflow: ellipsis;">{{ recipe.recipe_description }}</p>
          <a href="/delete_recipe/{{ recipe.id }}/" class="btn btn-danger mt-2"> <i class="bi bi-trash"></i> </a>
          <a href="/update_recipe/{{ recipe.id }}/" class="btn btn-success mt-2"><i class="bi bi-pencil-square"></i> </a>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  
  {% for recipe in recipes %}
  <div class="modal fade" id="recipeModal{{ recipe.id }}" tabindex="-1" aria-labelledby="recipeModalLabel{{ recipe.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recipeModalLabel{{ recipe.id }}">Recipe Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>{{ recipe.recipe_name }}</h5>
          <p>{{ recipe.recipe_description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Recipes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">Recipe Name</label>
                  <input name="recipe_name" required type="text" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInputdescription" class="form-label">Recipe Description</label>
                  <textarea  name="recipe_description" class="form-control"> </textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleInputdescription" class="form-label">Recipe Image</label>
                    <input name="recipe_image" type="file" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  






{% endblock %}