{% extends "base.html" %}
{% load static %}
{% block start%}

<div class="container hero-section">
    <div class="d-flex justify-content-between">
        <div class = "d-flex hero-text align-items-center">
            <div> 
                <h2>Welcome to our unique cooking haven!</h2>
                <span> Dive into a world where flavors dance, ingredients sing, and creativity knows no bounds. Whether you're a seasoned chef or a kitchen novice, our unique cooking website is your passport to gastronomic adventure. Get ready to explore tantalizing recipes, ingenious cooking hacks, and a community passionate about all things food. Let's embark on this delicious journey together!</span>
            </div>
            </div>

        <div class = "hero-img">
            <img src="{% static 'All/pic1.svg' %}" alt="Image" style="height: 450px; width: 450px;"/>
        </div>
    </div>
</div>


<div class="content">

</div>




{% endblock %}