{% extends "base.html" %}
{% load static %}
{% block start%}

<div class="container">

    <div>
        <h2>Welcome to our unique cooking haven!</h2>
        <span> Discover endless culinary delights, ingenious recipes, and join a vibrant community passionate about all things food. Let's cook up something extraordinary together!</span>

    </div>
    <div class="d-flex justify-content-end">
        <img src="{% static 'All/pic1.png' %}" alt="Image" style="height: 500px; width: 500px;"/>
    
    </div>
</div>




{% endblock %}